<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keys" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="/jquery/jquery-2.1.1.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/layer/layer.js"></script>
    <style>

    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <div><a class="navbar-brand" href="index.html" style="font-size:32px;">学生考勤管理系统</a></div>
        </div>
    </div>
</nav>

<div class="container">

    <form action="login" class="form-signin" role="form" method="post">
        <h2 class="form-signin-heading"><i class="glyphicon glyphicon-log-in"></i> 用户登录</h2>
        <!--<p>${Request.MESSAGE?if_exists}</p>-->
        <p id="errorMessage"></p>
        <div class="form-group has-success has-feedback">
            <input name="loginAcc" type="text" class="form-control" id="loginacctInput" placeholder="请输入登录账号" autofocus>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <input name="loginPwd" type="password" class="form-control" id="userpswdInput" placeholder="请输入登录密码" style="margin-top:10px;">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-success has-feedback">
            <select class="form-control" >
                <option value="student">学生</option>
                <option value="teacher" selected="selected">教师</option>
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> 记住我
            </label>
            <br>
            <label>
                忘记密码
            </label>
            <!--<label style="float:right">-->
                <!--&lt;!&ndash;<a href="/member/toRegPage">我要注册</a>&ndash;&gt;-->
            <!--</label>-->
        </div>
        <button id="submitBtn" class="btn btn-lg btn-success btn-block" > 登录</button>
    </form>
    <input type="hidden" id="returnUrl" name="returnUrl" th:value="${returnUrl}"/>
</div>

<script>

    //一、初始化选择“会员”和“管理”的下拉列表
    var stuLoginUrl = "SdoLogin";
    var teaLoginUrl = "TdoLogin";


    //二、给登录按钮绑定单击响应函数
    $("#submitBtn").click(function(){

        //1.收集用户账号、密码数据
        var loginacct = $("#loginacctInput").val();
        var userpswd = $("#userpswdInput").val();

        //2.将账号、密码封装到JSON对象中
        var param = {};

        //3.根据用户在下拉列表中选择的选项决定url的值
        var optionVal = $(":selected").val();

        var url = null;

        if(optionVal == "student") {
            url = stuLoginUrl;
            param["stuName"]=loginacct;
            param["passwd"]=userpswd;
            param["random"]=Math.random();//防止浏览器发送缓存
        }

        if(optionVal == "teacher") {
            url = teaLoginUrl;
            param["teacherName"]=loginacct;
            param["passwd"]=userpswd;
            param["random"]=Math.random();//防止浏览器发送缓存
        }
        $.post(url, param, function (data) {
            if (data && data != 'fail') {

                var returnUrl = $("#returnUrl").val();
                alert(returnUrl);
                window.location.href = returnUrl + "?newToken=" + data;
            } else {
                $("#errorMessage").val("用户名或密码错误！");
                $("#userpswdInput").val("");
                return ;
            }
        });
        //取消控件的默认行为，不让表单的提交按钮提交表单
        return false;
        //        $.post(url,param,function (data) {
//            if(data=="FAILED"){
//                alert("用户名或者密码错误");
//                $("#userpswdInput").val("");
//                return ;
//            }else{
//                window.location.href="http://manage.stu.com:8080/toMainPage"
//            }
//        });
//        //4.声明回调函数
//        //response是服务器返回的响应数据
//        //在服务器确实返回JSON字符串的前提下，type值指定为json
//        //jQuery就能将JSON字符串解析为JSON对象
//        var callBack = function(response){
//
//            //获取服务器对当前请求处理的结果
//            var result = response.result;
//
//            //根据result判断服务器返回的是成功还是失败
//            if(result == "SUCCESS") {
//
//
//                //跳转到登录后的页面
//                window.location.href = "http://127.0.0.1:8080/toMainPage";
//
//                //当前函数停止执行
//                return ;
//            }
//
//            if(result == "FAILED") {
//
//                //从响应数据中获取提示消息
//                var message = response.message;
//
//                //alert(message);
//                layer.msg(message);
//
//            }
//        };
//
//        //5.jQuery对服务器返回的响应数据的解析方式
//        var type = "json";
//
//        $.post(url, param, callBack, type);


    });
</script>
</body>
</html>