<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<title>Document</title>-->
    <link rel="stylesheet" href="/jquery/css/main.css"/>
</head>

<body>
<div class="container">
    <div class="top">
        <div class="sel1">
            <div class="prev">&lt;</div>
            <input type="text">
            <div class="next">&gt;</div>
        </div>
        <div class="sel2">
            <div class="prev">&lt;</div>
            <input type="text">
            <div class="next">&gt;</div>
        </div>
        <div class="msg3"></div>
        <div class="btn btn1">跳转</div>
        <div class="btn btn2">今天</div>
    </div>
    <div class="date">
        <ul class="level1ul">
            <li>
                <ul class="level2ul day">
                    <li>日</li>
                    <li>一</li>
                    <li>二</li>
                    <li>三</li>
                    <li>四</li>
                    <li>五</li>
                    <li>六</li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul1">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul2">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul3">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul4">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul5">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
            <li>
                <ul class="level2ul level2ul6">
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                    <li><span class="msg1"></span><span class="msg2"></span></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!--<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>-->
<!--<script src="/jquery/js/main.js"></script>-->
</body>

<!--</html>-->