<!DOCTYPE html >
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
< <head>
    <meta charset="UTF-8" >
    <title>后台主界面</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/jquery/css/main.css"/>

    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        .tree-closed {
            height : 40px;
        }
        .tree-expanded {
            height : auto;
        }


    </style>
</head>

<body>

<div th:include="navigator"></div>
<div class="container-fluid">
    <div class="row">

        <div th:include="sidebar"></div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <!--<h3 class="page-header" style="text-align: center">学生考勤管理系统欢迎您！</h3>-->

            <!--<div class="row placeholders">-->
                <div th:include="date"></div>
            <!--<div>-->
        </div>
    </div>
</div>
<input type="hidden" id="teacherNum" th:text="${teacherNum}" th:value="${teacherNum}">
<input type="hidden" id="userType" th:value="${userType}">
<input type="hidden" id="studentNum" th:value="${studentNum}">
<input type="hidden" id="message" th:value="${MESSAGE}">
<script src="/jquery/jquery-2.1.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/script/docs.min.js"></script>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="/jquery/js/main.js"></script>
<script type="text/javascript">
    $(function () {
        $(".list-group-item").click(function(){
            if ( $(this).find("ul") ) {
                $(this).toggleClass("tree-closed");
                if ( $(this).hasClass("tree-closed") ) {
                    $("ul", this).hide("fast");
                } else {
                    $("ul", this).show("fast");
                }
            }
        });


        var message = $("#message").attr("value");
        if (message!=null&&message!=''){

            layer.alert(message);
        }
    });



</script>

</body>
</html>